<!-- ./views/index.handlebars -->
<div class="container mt-5">

  <!-- search bar and sort bar -->
  <div class="container d-flex justify-content-between mb-4 text-white pt-3 pb-3"
    style="background-color:#fce2cf; border-radius: 8px">
    <div class="p-2 flex-grow-1">
      <div class="search-bar-inner">
        <form action="/restaurants/search" method="POST">
          {{!-- <p class="mb-2" style="display: inline-block;">尋找餐廳：</p> --}}
          <div class="input-group">
            <input type="text" name="keyword" value="{{keyword}}" class="form-control" placeholder="輸入餐廳、分類"
              aria-label="Restaurant Name..." value="" aria-describedby="search-button">
            <div class="input-group-append">
              <button class="btn" style="background-color: rgb(207, 113, 113);" type="submit" id="search-button"><i
                  class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="dropdown p-2">
      <button class="btn dropdown-toggle" style="background-color: rgb(207, 113, 113);" type="button"
        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <strong>排序方式: {{sort}}</strong>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/restaurants?sort=a-z">A-Z</a>
        <a class="dropdown-item" href="/restaurants?sort=z-a">Z-A</a>
        <a class="dropdown-item" href="/restaurants?sort=ratingHTL">評價高至低</a>
        <a class="dropdown-item" href="/restaurants?sort=ratingLTH">評價低至高</a>
        <a class="dropdown-item" href="/restaurants?sort=category">餐廳分類</a>
      </div>
    </div>
  </div>

  <!-- restaurant list -->
  <div class="row " id="data-panel">
    {{#each restaurants}}
    <div class="col-4">
      <a href="/restaurants/{{ this._id }}" class="text-secondary">

        <div class="card mb-2">
          <img class="card-img-top restaurant" src="{{this.image}}" alt="Card image cap">
          <div class="card-body p-3">
            <h6 class="card-title mb-1">{{this.name}} ({{this.name_en}})</h6>

            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i> {{this.category}}
            </div>

            <span class="badge badge-pill badge-danger font-weight-normal">
              {{this.rating}}
              <i class="fas fa-star fa-xs"></i>
            </span>
          </div>
          <div class="" style="text-align: right;">
            <a href="/restaurants/{{{this._id}}}/edit" style="display: inline-block;">
              <button type="button" class="btn btn-primary">Edit</button>
            </a>
            <form action="/restaurants/{{{this._id}}}/delete?_method=DELETE" method="POST"
              style="display: inline-block;">
              <button class="btn btn-danger" type="submit">delete</button>
            </form>
          </div>
        </div>
      </a>

    </div>
    {{/each}}

  </div>